<div id="cards-container">
  <div class="crime-card">
    <h2>Abduction of Was Victim</h2>

    <div class="field">
      <span class="field-label">Status</span>
      <span class="field-value">In Captivity</span>
    </div>

    <div class="field">
      <span class="field-label">Region</span>
      <span class="field-value">Kyiv</span>
    </div>

    <div class="field">
      <span class="field-label">City / Town</span>
      <span class="field-value">Bucha</span>
    </div>
  </div>
</div>

<div id="more-results">
  <h2>
    ... And 1 234 more crimes. Please filter the list to see more precise results.
  </h2>
</div>
