@import "../../styles/common.css";

:host {
  width: calc(100% - var(--navbar-width) - var(--filter-width));
  left: var(--navbar-width);
  height: 100%;
  position: fixed;
  border-right: 1px var(--light-gray-color) solid;
  background-color: white;
  overflow: auto;
  padding: 42px 40px;
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.crime-card {
  border: 1px var(--light-gray-color) solid;
  border-radius: 5px;
  padding: 24px 32px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.crime-card h2 {
  margin: 0 0 4px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field-label {
  opacity: .4;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.field-value {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

#more-results {
  display: none;
  margin-top: 32px;
  text-align: center;
}

@media (max-width: 1200px) {
  :host {
    width: 100%;
    height: calc(100% - var(--filter-height));
    left: 0;
    border-bottom: 1px var(--light-gray-color) solid;
  }
}
