:root {
  --primary-color: #F0552E;
  --black-color: #1A1A1A;
  --background-white-color: #FFF;
  --light-gray-color: #EBEBEB;
  --dark-gray-color: #999;

  /* this  color matches the map color scheme, it will be look good when user zoomed out too much,
   so image does not fit anymore */
  --map-complementary-color: #444444
}
