@import "../../styles/common.css";

wcm-navbar {
  position: fixed;
  height: 100%;
  width: var(--navbar-width);
  background-color: var(--black-color);
}

wcm-filter {
  position: fixed;
  width: var(--filter-width);
  right: 0;
}

@media (max-width: 1200px) {
  wcm-navbar {
    background-color: transparent;
    pointer-events: none;
    height: calc(100% - var(--filter-height) - var(--legend-height));
  }

  wcm-filter {
    pointer-events: none;
  }
}
