@import "../../styles/common.css";

wcm-navbar {
  position: fixed;
  height: 100%;
  width: 60px;
  background-color: var(--backgound-black-color);
}

wcm-filter {
  position: fixed;
  height: 100%;
  width: max(min(45%, 300px), 500px);
  background-color: var(--background-white-color);
  right: 0;
}
