@import "../../styles/common.css";

wcm-navbar {
  position: fixed;
  height: 100%;
  width: var(--navbar-width);
  background-color: var(--black-color);
}

wcm-filter {
  position: fixed;
  height: 100%;
  width: var(--filter-width);
  background-color: var(--background-white-color);
  right: 0;
}
