<div class="search-container">
  <div class="search-box">
    <img src="/src/assets/images/search.svg" alt="">
    <input type="text" placeholder="Search">
  </div>
  <div class="filters-btn">
    <svg width="27" height="27" viewBox="0 0 27 27" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <g id="icon">
        <path id="Vector" d="M6.75 14.625H20.25V12.375H6.75V14.625ZM3.375 6.75V9H23.625V6.75H3.375ZM11.25 20.25H15.75V18H11.25V20.25Z" fill="currentColor"/>
      </g>
    </svg>
    <span>Filters</span>
  </div>
</div>

<hr>
