@import "../../styles/common.css";

:host {
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 30px 24px;
}

hr {
  margin: 0;
  height: 1px;
  background-color: var(--light-gray-color);
  border: none;
}

.filters-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.filters-btn span {
  color: var(--primary-color);
  font-family: "e-Ukraine", serif;
  font-size: 11px;
}

.filters-btn svg {
  color: var(--primary-color);
}

.search-box {
  padding: 12px;
  border-radius: 100px;
  border: 1px solid var(--dark-gray-color);
  display: flex;
  align-items: center;
  flex: 1;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  line-height: 24px;
  font-size: 16px;
}

.filters-main-container {
  padding: 20px 48px;
  overflow-y: auto;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.crime-types {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.crime-field {
  display: flex;
  align-items: center;
  gap: 12px;
}

.crime-field .crime-name {
  line-height: 24px;
  font-size: 14px;
}

.crime-field .crime-number {
  opacity: .3;
  font-size: 14px;
  white-space: nowrap;
}

select {
  width: 100%;
}

.result {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.result span {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.result span#result-number {
  font-size: 16px;
  font-weight: 400;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chip.state {
  border: 1px var(--black-color) solid;
  background-color: white;
}

.actions {
  display: flex;
  gap: 15px;
}

.actions button {
  flex: 1;
}

button#clear {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: white;
}

button#apply {
  background-color: var(--black-color);
  color: white;
}
