@import "../../styles/common.css";

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  height: 100%;
  align-items: center;
  gap: 32px;
}

nav img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.spacer {
  flex: 1;
}
