@import "../../styles/common.css";

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  height: 100%;
  align-items: center;
  gap: 32px;
}

nav img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

nav svg {
  width: 100%;
  height: 100%;
  color: white;
}

nav a.active svg {
  color: var(--primary-color)
}

@media (max-width: 1200px) {
  .menu-button {
    align-self: flex-start;
    pointer-events: auto;
  }

  .logo {
    pointer-events: auto;
  }

  .map-button svg {
    color: black;
  }
}
